* {
    margin: 0;
}

@font-face {
    font-family: "Gilroy-Semibold";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
}

html {
    font-family: 'Gilroy-Regular';
}

body {
    background: #FFFFFF;
}

.header {
    height: 491px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-top: 160px;
    width: 1146px;
    margin-left: auto;
    margin-right: auto;
    word-break:break-all;
}


.text-logo {
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

div {
    overflow-wrap: break-word;
 }

.intro {
    width: 381px;
    height: 291px;  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: stretch;
    margin-right: 50px;
    justify-content: space-between;
    margin-bottom: 40px;
    border: 1px solid #000;
}

.text-title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.7;
    margin-bottom: 20px;
    width: 558px;
}